.lovePos {
    background-color: rgb(171, 236, 183);
    //border: solid 1px;
    border-radius: 5px;
    padding: 10px 10px 10px 10px;

}

.loveNeg {
    background-color: #e95f5f;
    //border: solid 1px;
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
}

.loveDef {
    //border: solid 1px;
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
}